.header {
  padding: 0 24px;
  background: #7e22ce;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}